<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Poppins and IBM Plex Sans-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap" rel="stylesheet">
     <!--ICONS, FONT awesome-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous"> 
   <!-- Font awesome again -- will this make the solid icons display?-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title><%- title %></title>
</head>
<body>
    <div class="fixed-action-btn">
        <button class="btn-floating btn-large modal-trigger" data-target="modal1"><i class="fas fa-plus"></i></button>
    </div>
    <%- include('../partials/header') %>

    <%- body %>
    
    <%- include('../partials/footer') %>
    
    <!-- This script uses materialize and needs to be changed 
    <script>
        document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.autocomplete');
        var instances = M.Autocomplete.init(elems, {
            data: {
                "Andorra": null,
                "United Arab Emirates": null,
                "Afghanistan": null,
                "Antigua and Barbuda": null,
                "Anguilla": null,
                "Albania": null,
                "Armenia": null,
                "Angola": null,
                "Antarctica": null,
                "Argentina": null,
                "American Samoa": null,
                "Austria": null,
                "Australia": null,
                "Aruba": null,
                "Åland Islands": null,
                "Azerbaijan": null,
                "Bosnia and Herzegovina": null,
                "Barbados": null,
                "Bangladesh": null,
                "Belgium": null,
                "Burkina Faso": null,
                "Bulgaria": null,
                "Bahrain": null,
                "Burundi": null,
                "Benin": null,
                "Saint Barthélemy": null,
                "Bermuda": null,
                "Brunei Darussalam": null,
                "Bolivia, Plurinational State of": null,
                "Bonaire, Sint Eustatius and Saba": null,
                "Brazil": null,
                "Bahamas": null,
                "Bhutan": null,
                "Bouvet Island": null,
                "Botswana": null,
                "Belarus": null,
                "Belize": null,
                "Canada": null,
                "Cocos (Keeling) Islands": null,
                "Congo, Democratic Republic of the": null,
                "Central African Republic": null,
                "Congo": null,
                "Switzerland": null,
                "Côte d'Ivoire": null,
                "Cook Islands": null,
                "Chile": null,
                "Cameroon": null,
                "China": null,
                "Colombia": null,
                "Costa Rica": null,
                "Cuba": null,
                "Cabo Verde": null,
                "Curaçao": null,
                "Christmas Island": null,
                "Cyprus": null,
                "Czechia": null,
                "Germany": null,
                "Djibouti": null,
                "Denmark": null,
                "Dominica": null,
                "Dominican Republic": null,
                "Algeria": null,
                "Ecuador": null,
                "Estonia": null,
                "Egypt": null,
                "Western Sahara": null,
                "Eritrea": null,
                "Spain": null,
                "Ethiopia": null,
                "Finland": null,
                "Fiji": null,
                "Falkland Islands (Malvinas)": null,
                "Micronesia, Federated States of": null,
                "Faroe Islands": null,
                "France": null,
                "Gabon": null,
                "United Kingdom of Great Britain and Northern Ireland": null,
                "Grenada": null,
                "Georgia": null,
                "French Guiana": null,
                "Guernsey": null,
                "Ghana": null,
                "Gibraltar": null,
                "Greenland": null,
                "Gambia": null,
                "Guinea": null,
                "Guadeloupe": null,
                "Equatorial Guinea": null,
                "Greece": null,
                "South Georgia and the South Sandwich Islands": null,
                "Guatemala": null,
                "Guam": null,
                "Guinea-Bissau": null,
                "Guyana": null,
                "Hong Kong": null,
                "Heard Island and McDonald Islands": null,
                "Honduras": null,
                "Croatia": null,
                "Haiti": null,
                "Hungary": null,
                "Indonesia": null,
                "Ireland": null,
                "Israel": null,
                "Isle of Man": null,
                "India": null,
                "British Indian Ocean Territory": null,
                "Iraq": null,
                "Iran, Islamic Republic of": null,
                "Iceland": null,
                "Italy": null,
                "Jersey": null,
                "Jamaica": null,
                "Jordan": null,
                "Japan": null,
                "Kenya": null,
                "Kyrgyzstan": null,
                "Cambodia": null,
                "Kiribati": null,
                "Comoros": null,
                "Saint Kitts and Nevis": null,
                "Korea, Democratic People's Republic of": null,
                "Korea, Republic of": null,
                "Kuwait": null,
                "Cayman Islands": null,
                "Kazakhstan": null,
                "Lao People's Democratic Republic": null,
                "Lebanon": null,
                "Saint Lucia": null,
                "Liechtenstein": null,
                "Sri Lanka": null,
                "Liberia": null,
                "Lesotho": null,
                "Lithuania": null,
                "Luxembourg": null,
                "Latvia": null,
                "Libya": null,
                "Morocco": null,
                "Monaco": null,
                "Moldova, Republic of": null,
                "Montenegro": null,
                "Saint Martin, (French part)": null,
                "Madagascar": null,
                "Marshall Islands": null,
                "North Macedonia": null,
                "Mali": null,
                "Myanmar": null,
                "Mongolia": null,
                "Macao": null,
                "Northern Mariana Islands": null,
                "Martinique": null,
                "Mauritania": null,
                "Montserrat": null,
                "Malta": null,
                "Mauritius": null,
                "Maldives": null,
                "Malawi": null,
                "Mexico": null,
                "Malaysia": null,
                "Mozambique": null,
                "Namibia": null,
                "New Caledonia": null,
                "Niger": null,
                "Norfolk Island": null,
                "Nigeria": null,
                "Nicaragua": null,
                "Netherlands": null,
                "Norway": null,
                "Nepal": null,
                "Nauru": null,
                "Niue": null,
                "New Zealand": null,
                "Oman": null,
                "Panama": null,
                "Peru": null,
                "French Polynesia": null,
                "Papua New Guinea": null,
                "Philippines": null,
                "Pakistan": null,
                "Poland": null,
                "Saint Pierre and Miquelon": null,
                "Pitcairn": null,
                "Puerto Rico": null,
                "Palestine, State of": null,
                "Portugal": null,
                "Palau": null,
                "Paraguay": null,
                "Qatar": null,
                "Réunion": null,
                "Romania": null,
                "Serbia": null,
                "Russian Federation": null,
                "Rwanda": null,
                "Saudi Arabia": null,
                "Solomon Islands": null,
                "Seychelles": null,
                "Sudan": null,
                "Sweden": null,
                "Singapore": null,
                "Saint Helena, Ascension and Tristan da Cunha": null,
                "Slovenia": null,
                "Svalbard and Jan Mayen": null,
                "Slovakia": null,
                "Sierra Leone": null,
                "San Marino": null,
                "Senegal": null,
                "Somalia": null,
                "Suriname": null,
                "South Sudan": null,
                "Sao Tome and Principe": null,
                "El Salvador": null,
                "Sint Maarten, (Dutch part)": null,
                "Syrian Arab Republic": null,
                "Eswatini": null,
                "Turks and Caicos Islands": null,
                "Chad": null,
                "French Southern Territories": null,
                "Togo": null,
                "Thailand": null,
                "Tajikistan": null,
                "Tokelau": null,
                "Timor-Leste": null,
                "Turkmenistan": null,
                "Tunisia": null,
                "Tonga": null,
                "Turkey": null,
                "Trinidad and Tobago": null,
                "Tuvalu": null,
                "Taiwan, Province of China": null,
                "Tanzania, United Republic of": null,
                "Ukraine": null,
                "Uganda": null,
                "United States Minor Outlying Islands": null,
                "United States of America": null,
                "Uruguay": null,
                "Uzbekistan": null,
                "Holy See": null,
                "Saint Vincent and the Grenadines": null,
                "Venezuela, Bolivarian Republic of": null,
                "Virgin Islands, British": null,
                "Virgin Islands, U.S.": null,
                "Viet Nam": null,
                "Vanuatu": null,
                "Wallis and Futuna": null,
                "Samoa": null,
                "Yemen": null,
                "Mayotte": null,
                "South Africa": null,
                "Zambia": null,
                "Zimbabwe": null,
            }
        });
        });
    </script>-->
    <div id="modal1" class="modal">
        <div class="modal-content black-text">
            <div class="row">
                <div class="col s12">
                    <h3 class="center">Write A Review</h3>
                </div>
            </div>
            <form class= "formReview black-text" action="/reviews/createCheckin" method='POST' id="submitForm">
            <div class="row">
                <div class="col s12 input-field">
                    <input tabindex="1" class="validate" type="text" maxlength="30" name='restaurant' id="restaurant-modal">
                    <label for="restaurant-modal">Restaurant Name</label>
                </div>
            </div>
            <div class="row">
                <div class="col s4 input-field">
                    <!-- <select class='browser-default' name="country" id="country">
                    <% for (let i = 0; i < countryData.length; i++) { %>
                        <option value=<%= countryData[i].name.split(' ').join('-') %>><%= countryData[i].name %></option>
                    <% } %>
                    </select> -->
                    <input name="country" tabindex="2" type="text" maxlength="15" class="autocomplete validate" id="autocomplete-input" required>
                    <label for="autocomplete-input">Country</label>
                </div>
                <div class="col s4 input-field">
                    <input tabindex="3" class="validate" type="text" maxlength="20" name='state' id="state-modal" required>
                    <label for="state-modal">State/Province/Region</label>
                </div>
                <div class="col s4 input-field">
                    <input tabindex="4" class="validate" type="text" maxlength="15" name='city' id="city-modal" required>
                    <label for="city-modal">City</label>
                </div>
            </div>
            <div class="row">
                <div class="col s6 input-field">
                    <input tabindex="5" class="validate" type="text" maxlength="25" name='foodType' id="foodType-modal" required>
                    <label for="foodType-modal">Type of Food</label>
                </div>
                <div class="col s6 input-field">
                    <input tabindex="6" class="validate" type="text" maxlength="25" name='favDish' id="favDish-modal" required>
                    <label for="favDish-modal">Favorite Dish</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 input-field">
                    <input tabindex="7" class="validate" type="text" maxlength="200" name='comment' id="comment-modal" required>
                    <label for="comment-modal">Comment</label>
                </div>
            </div>
            <div class="row">
                <div class="col s9 input-field">
                    <!-- tab index doesn't work on select -->
                    <select tabindex="8" class="validate" id="status" name="status">
                        <option value="public" selected>Public (all visitors can see this review)</option>
                        <option value="private">Private (only you can see this review)</option>
                    </select>
                </div>
                <div class="col s3 input-field">
                    <button class="btn waves-effect waves-light modal-submit right" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
                <!-- <input type="submit"> -->
            </form>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>