<main>
  <h1><%=user.userName %>'s TOTT Reviews </h1>
  <p>You have created <%= posts.length %> 
    <% if(posts.length==1) { %>
    review.
  <% } else { %>  
    reviews.
 <% } %> Thanks for sharing!</p>
  <p>Feel free to add reviews or edit any reviews you have previously made.</p>     
  <%console.log(posts[0])%>
  <%posts.forEach(post=>{ %>
        <div data-id='<%=post._id%>'>
                <!-- <span>we need to add the username of the poster here!</span> -->
                <h2><%=post.restaurant%></h2>
                <span>Location: <%=post.city%>, <%=post.state%> -- <%=post.country.split('-').join(' ')%></span>
                <h4>Type: <%=post.foodType%></h4>
                <span>Favorite dish: <%=post.favDish%></span>
                <p>"<%=post.comment%>"</p>
                <%if(user._Id==post.UserId){%>
                  <a href="/reviews/<%=post._id%>" ><i class="fas fa-edit edit"></i></a>
               <i class="fas fa-trash delete"></i>
               
                <%}%>
              </div>
      
      <%}) %>



    
</main>