<main>
  <!--banner with user data-->
  <section class="TOTRbanner">
    <div class="TOTRbanner-item"> 
        <h2>Welcome <b><%=user.userName %></b>!!</h2>
        <p>You've shared <b><%= posts.length %></b>
          <% if(posts.length==1) { %>
          review.
        <% } else { %>  
          reviews.
        <% } %></p>
   </div>
   <a class="TOTRbanner-item" href="/" >TOTR</a>
  </section>

  <!--reviews from only currently logged in user -->
  <section class="reviews">
  <div>
    <h3>your reviews:</h3>
  </div>
  <%posts.forEach(post=>{ %>
        <div class="template" data-id='<%=post._id%>'>
          <div class="template-top">
              <div class="template-userimage">
                <img src="userstandin.jpg">
              </div>
              <div class="template-info">
                <span class="template-info_user">Username</span>
                <h2 class="template-info_restaurant"><%=post.restaurant%></h2>
                <span class="template-info_location"><%=post.city.toUpperCase()%>, <%=post.state.toUpperCase()%> -- <%=post.country.split('-').join(' ').toUpperCase()%></span>
              </div>
          </div>
              <div class="template-comment">
                <p>"<%=post.comment%>"</p>
              </div>
               <!--Unused info 
                <h4>Type: <%=post.foodType%></h4>
                <span>Favorite dish: <%=post.favDish%></span>-->
                <%if(user._Id==post.UserId){%>
                  <a href="/reviews/<%=post._id%>" ><i class="fas fa-edit edit"></i></a>
               <i class="fas fa-trash delete"></i>
               
                <%}%>
              </div>
      
      <%}) %>



  </section>
</main>