<main>
    <h1><%=posts[0].userId.userName%>'s TOTT Reviews </h1>
    <p> <%=posts[0].userId.userName%> has created <%=posts.length %> 
      <% if(posts.length==1) { %>
      review.
    <% } else { %>  
      reviews.
   <% } %></p>
    <%posts.forEach(post=>{ %>
        <%console.log(post.userId)%>

          <div data-id='<%=post._id%>'>        
                  <!-- <span>we need to add the username of the poster here!</span> -->
        
                  <h2><%=post.restaurant%></h2>
                  <span>Location: <%=post.city%>, <%=post.state%> -- <%=post.country.split('-').join(' ')%></span>
                  <h4>Type: <%=post.foodType%></h4>
                  <span>Favorite dish: <%=post.favDish%></span>
                  <p>"<%=post.comment%>"</p>
          </div>
            
    
        
        <%}) %>
  
  
  
      
  </main>