<main>  
    <section class="TOTRbanner">
          <h1 class="TOTRbanner-item">REVIEWS from <%=posts[0].userId.userName%></h1>
    </section>
    <h3 class="page-title">There 
      <% if(posts.length==1) { %>
      is <%=posts.length %> review here.
    <% } else { %>  
      are <%=posts.length %> reviews here.
   <% } %></h3>
   <div class="options">
   <a href='/reviews'>RETURN TO ALL REVIEWS</a>
  </div>
   <section class="reviews wrapper">
  
      <%posts.forEach(post=>{ %>
  
            <div class="review-card" data-id='<%=post._id%>'>        
              <i class="fa-solid fa-circle-user"></i>
              <div class="template-info">
            
  <!-- Get username to try to put in head--> 
  <%if(user){%>
    <%if(post.userId._id==user._id.toString()){%>
      <span class="template-info_username"><a href="/reviews/"><%=post.userId.userName%></a></span>
      <% filtered =post.userId.userName %>
      <% } else { %>
        <span class="template-info_username"><a href="/reviews/user/<%=post.userId._id.toString()%>"><%=post.userId.userName%></a></span>
        <% filtered =post.userId.userName %>
        <%}%>
    <%}%>
  </span>
  
                    <h2 class="template-info_restaurant"><%=post.restaurant%></h2>
                    <span class="template-info_location">Location: <%=post.city%>, <%=post.state%> -- <%=post.country.split('-').join(' ')%></span>
                    <h4 class="template-info_type">Type: <%=post.foodType%></h4>
                    <span class="template-info_user">Favorite dish: <%=post.favDish%></span>
                      </div>
                    <p class="template-comment">"<%=post.comment%>"</p>
            </div>
            
          <%}) %>
    
    </section>
    <!-- Modal for add review -->
<section id="modalReview" class="wrapper modalFloat">
  <section class="modalBody">
    <h3>Write A Review</h3>
                    <!-- tab index doesn't work on select -->
       <form class="modalForm"action="/reviews/createCheckin" method='POST' id="submitForm">
        <ul>
          <li>
            <label for="restaurant-modal">Restaurant Name</label>
            <input tabindex="1" class="validate" type="text" name='restaurant' id="restaurant-modal">
          </li> 
          <li>
            <label for="autocomplete-input">Country</label>
            <input name="country" tabindex="2" type="text" class="autocomplete validate" id="autocomplete-input" required>
          </li> 
          <li>
            <label for="state-modal">State/Province/Region</label>
            <input tabindex="3" class="validate" type="text" name='state' id="state-modal" required>
          </li> 
          <li>
            <label for="city-modal">City</label>
            <input tabindex="4" class="validate" type="text" name='city' id="city-modal" required>
          </li> 
          <li>
            <label for="foodType-modal">Type of Food</label>  
            <input tabindex="5" class="validate" type="text" name='foodType' id="foodType-modal" required>
          </li>
          <li>
            <label for="favDish-modal">Favorite Dish</label>
            <input tabindex="6" class="validate" type="text" name='favDish' id="favDish-modal" required>
          </li> 
          <li>
            <label for="comment-modal">Comment</label>
            <textarea tabindex="7" class="validate" type="text" name='comment' id="comment-modal" placeholder="Tell us about the restaurant!"required></textarea>
          </li> 
          <li>
            <select tabindex="8" class="validate" id="status" name="status">
                <option value="public" selected>Public (all visitors can see this review)</option>
                <option value="private">Private (only you can see this review)</option>
            </select>
          </li> 
          <li>
            <button class= "sub-btn" type="submit" name="action">Submit</button>
          </li> 

      </ul>
   </form>
  </section>
</section>
<!-- Modal for Edit -->
<section id="modalEdit" class="wrapper modalFloat">
<section class="modalBody">
<h3>Edit Review</h3>
                <!-- tab index doesn't work on select -->
   <form class="modalForm"action="/reviews/createCheckin" method='POST' id="submitForm">
    <ul>
      <li>
        <label for="restaurant-modal">Restaurant Name</label>
        <input tabindex="1" class="validate" type="text" name='restaurant' id="restaurant-modal">
      </li> 
      <li>
        <label for="autocomplete-input">Country</label>
        <input name="country" tabindex="2" type="text" class="autocomplete validate" id="autocomplete-input" required>
      </li> 
      <li>
        <label for="state-modal">State/Province/Region</label>
        <input tabindex="3" class="validate" type="text" name='state' id="state-modal" required>
      </li> 
      <li>
        <label for="city-modal">City</label>
        <input tabindex="4" class="validate" type="text" name='city' id="city-modal" required>
      </li> 
      <li>
        <label for="foodType-modal">Type of Food</label>  
        <input tabindex="5" class="validate" type="text" name='foodType' id="foodType-modal" required>
      </li>
      <li>
        <label for="favDish-modal">Favorite Dish</label>
        <input tabindex="6" class="validate" type="text" name='favDish' id="favDish-modal" required>
      </li> 
      <li>
        <label for="comment-modal">Comment</label>
        <textarea tabindex="7" class="validate" type="text" name='comment' id="comment-modal" placeholder="Tell us about the restaurant!"required></textarea>
      </li> 
      <li>
        <select tabindex="8" class="validate" id="status" name="status">
            <option value="public" selected>Public (all visitors can see this review)</option>
            <option value="private">Private (only you can see this review)</option>
        </select>
      </li> 
      <li>
        <button class= "sub-btn" type="submit" name="action">Submit</button>
      </li> 

  </ul>
</form>
</section>
</section>
    <%if(user){%>
        <i id="addReview" class="fa-solid fa-circle-plus"></i>

    <%}%>
    </main>